  .onlineIcon {
    position: relative;
    top: 40%;
    left: 6%;
  }
.x {
  position: absolute;
  top: 40%;
  right: 3%;
}
.roomName{
  position: relative;
  top: 8%;
  left: 15%;
  color: greenyellow;
}